.form {
  padding: 32px;
  background-color: #fff;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
  box-shadow: 4px 4px 8px 12px rgba(0, 0, 0, 0.01);
}
