* {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(45deg, rgb(3, 32, 95), rgb(7, 63, 136));
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
